<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Bike Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome }}
        <li class="active"><a href="/">Home</a></li>
        {{ else }}
        <li><a href="/">Home</a></li>
      {{/if }}

      {{#if isBikes }}
        <li class="active"><a href="/bikes">Bikes</a></li>
        {{ else }}
        <li><a href="/bikes">Bikes</a></li>
      {{/if }}

      {{#if isAuth}}
        {{#if isAdd }}
          <li class="active"><a href="/add">Add bike</a></li>
          {{ else }}
          <li><a href="/add">Add bike</a></li>
        {{/if }}

        {{#if isProfile}}
          <li class="active"><a href="/profile">Profile</a></li>
          {{ else }}
          <li><a href="/profile">Profile</a></li>
        {{/if }}

        {{#if isOrders}}
          <li class="active"><a href="/orders">Orders</a></li>
          {{ else }}
          <li><a href="/orders">Orders</a></li>
        {{/if }}

        {{#if isCart }}
          <li class="active"><a href="/cart">Cart</a></li>
          {{ else }}
          <li><a href="/cart">Cart</a></li>
        {{/if }}

        <li><a href="/auth/logout">Log Out</a></li>
      {{else}}
        {{#if isLogin }}
          <li class="active"><a href="/auth/login#login">Sign In</a></li>
          {{ else }}
          <li><a href="/auth/login">Sign In</a></li>
        {{/if }}
      {{/if}}
    </ul>
  </div>
</nav>