<div class="bike">
  <h1 class="bike__name">{{bike.name}}</h1>

  <img class="bike__img" src="{{bike.img}}" alt="{{bike.name}}" title="{{bike.name}}">

  <p class="bike__cost js-format">{{bike.price}}</p>
</div>